In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Resources/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2022-05-26 17:00:12,55.7435,-97.8558,62.67,53,100,5.73
1,1,Kaitangata,NZ,2022-05-26 17:04:42,-46.2817,169.8464,37.85,91,5,4.65
2,2,Hilo,US,2022-05-26 17:03:34,19.7297,-155.0900,82.27,84,0,6.91
3,3,Grand Gaube,MU,2022-05-26 17:04:43,-20.0064,57.6608,72.00,77,7,3.00
4,4,New Norfolk,AU,2022-05-26 17:04:43,-42.7826,147.0587,52.92,81,66,3.00